

/* index */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-bg-color: #ffffff;
  --header-logo-color: #000000;
  --hero-text-color:#ffffff;
  --work-title-text-color:#ffffff;
  --team-bg-color:#F5F4FA;
  --footer-logo-color:#ffffff;
  --footer-bg-color:#2F303A;
  --primary-footer-text-color:#ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --copyright-text-color: rgba(255, 255, 255, 0.4);
}
/* html {
  box-sizing: border-box;
} */

/* *,*::before,*::after { box-sizing: inherit;} */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  letter-spacing: 0.03em;
}
a{
  text-decoration:none;
}
h1, h2, h3, h4, h5, h6{
  color: var(--title-text-color);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}
.text {
  margin: 0;
}
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid green;
}
.nav {
  display: block;
  padding: 32px 0px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em; 
}
.list-nav{
  display: flex;
  margin-left: 80px;
}
.list-nav .item:not(:last-child) {
  margin-right: 50px;
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .item:not(:last-child) {
  margin-right: 30px;
}
.main-nav{
  display: flex;
  align-items: center;
}
.box-nav{
  display: flex;
  align-items: center;
}
.accent, .nav:focus, 
.nav:hover {
  color: var(--accent-color)
}
.logo {
  font-family: Raleway, sans-serif;;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color)
}
.studio-logo {
  color:var(--header-logo-color);
}
.mail, .phone{
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mail:hover, .mail:focus,
.phone:hover, .phone:focus {
  color: var(--accent-color);
}
/* main */
/*   заменить цвет текста заголовков на белый */
.hero{
  text-align: center;
}

.box-section, .advantages,
.work {
margin-bottom: 94px;
}
.hero-title {
  width: 646px;
  margin-bottom: 46px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  /* добавить цвет */
  line-height: 1.36;
  
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;

  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  line-height: 1.9;
  
  letter-spacing: 0.06em;
}

/* .advantages {} */
/* добавил фон для катринок svg */
 .link {
  display: block;
  margin-bottom: 30px;
  width: 278px;
  height: 120px;
  background-color: grey;
  border-radius: 4px;
}
.list-advantages {
display: flex;
}
.list-advantages .item {
width:calc((100%-90px)/4);
}
.list-advantages .item:not(:last-child) {
  margin-right: 30px;
}
.advantages-title {
  margin-bottom: 10px;
}
.advantages-title, .work-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.main-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.work-title {
  text-align: center;
/* добавить цвет */
  /* color: var(--work-title-text-color); */
}
.list-work {
  display: flex;
  }
  .list-work .item {
  width:calc((100% - 60px)/3);
  }
  .list-work .item:not(:last-child) {
    margin-right: 30px;
  }
  /* Наша команда */
.team{
  background-color: var(--team-bg-color);
  /* margin-bottom: 94px; */
}
.team-heading {
  padding-top: 94px;
}
.team-title{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-imagin {
  display: block;
  width: 278px;
  height: 260px;
  margin-bottom: 30px;
}
.profession {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
} 
.list-team {
  display: flex;
  padding-bottom: 94px;
}
.list-team .item {
  width:calc((100% - 90px)/4);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.list-team .item:not(:last-child) {
  margin-right: 30px;
}
.public {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 207px;
  margin-bottom: 24px;
}
  /* удалить размер и цвет, вставить svg*/
.public .item {
  width: 44px;
  height: 44px;
  background-color:var(--accent-color);
}
.public .item:not(:last-child) {
 margin-right: 10px;
}
.clients-heading {
  padding-top: 94px;
}
.list-clients {
  display: flex;
  padding-bottom: 94px;
}
 /* удалить размеры после урока по svg */
.list-clients .item {
  width:calc((100% - 150px)/6);
  height: 90px;
  text-align: center;
  background-color: grey;
}
.list-clients .item:not(:last-child) {
 margin-right: 30px;
}
/* footer */
.footer{
  background-color: var(--footer-bg-color);
}
.footer .logo{
  font-size: 22px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.footer .studio-logo{
  color: var(--footer-logo-color);
}
.footer .address{
  color: var(--primary-footer-text-color);
  font-style: normal;
}
.footer .mail,
.footer .phone{
  margin-top: 9px;
  color: var(--footer-text-color);
}
.box-address {
  width: 231px;
}
.appeal{
  margin-bottom: 21px;
  color: var(--primary-footer-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.box-appeal {
  width: 207px;
  margin-left: 179px;
}
.footer .content{
  display: flex;
  align-items: baseline;
  padding-top: 48px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  color: var(--copyright-text-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* portfolio */
.button-portfolio {
  padding: 6px 22px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid transparent;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-text-color);
  background-color: #F5F4FA;
}
 .list-button{
  display: flex;
  justify-content: center;
  padding-top: 93px;
  margin-bottom: 50px;
  max-width: 100%;
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
}
.list-button .item-button:not(:last-child) {
  margin-right: 8px;
}
.img-portfolio {
  display: block;
  width: 380px;
  height: 294px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
   /* сделал padding для возможной заливки фона */
  padding-bottom: 94px;
}
.list-portfolio .item {
  width: calc((100% - 60px)/3);
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;

  /* background-color: green; */
}
.list-portfolio .item:nth-child(3n) {
 margin-right: 0px;
}
.list-portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.button-portfolio:focus, 
.button-portfolio:hover,
.description {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}
.portfolio-title {
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.category {
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  width: 332px;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 1.9;
  
}
/* скрыл что бы не мешал */
.description {
  display: none;
}
/* .description {
  padding: 63px 24px;
  width: 380px;
  font-size: 18px;
  line-height: 1.56; }*/
  

  /* оформить ccылки с лого после урока по svg */